.panel.panel-primary
  .panel-heading
    .panel-title.pull-right
      %small
        = link_to 'calendar', "#calendar", class: 'pull-right'
    %h3.panel-title
      = link_to '', '#', name: event_anchor(event)
      = event.name
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th.col-md-4 Time
          %th.col-md-4 Cost
          %th.col-md-4 Info
      %tbody
        %tr
          %td= event.time
          %td= event.cost
          %td= link_to 'link', event.url if event.url

    = event.desc

