---
title: Railsconf 2016 - Kansas City - Events
post_date: 2016-03-22
---
%h1 Railsconf 2016 - Kansas City - May 4, 5, 6

%h2 Events Surrounding Railsconf 2016

%p
  Hi! If you're coming to Railsconf 2016 in Kansas City and you're arriving a day early or late, this is the place to find something to do.

%h3 Who are you?
%p
  My name is Wes Garrison. I grew up in Kansas City and I want you to see something other than the inside of a conference center. So, I'll be coordinating a lot of different events so you can see the sights. Plus, new Ruby Friends are always great!

%h3 How does this work?

%ul
  %li
    Use #railsconf to find people interested in events.
  %li
    =link_to 'See the list of BBQ places around town', '#kansas_city_bbq'

= partial :calendar

%h1#kansas_city_bbq BBQ Restaurants

%ul
  %li
    =link_to 'Jack Stack (Freight House): ', 'http://www.jackstackbbq.com/freight-house/a/freight-house/'

    101 W 22nd St., #300 Kansas City, MO 64108
  %li
    =link_to 'Arthur Bryant\'s: ', 'https://www.arthurbryantsbbq.com/our_restaurants/index.htm'
    18th and Brooklyn

  %li
    =link_to 'Gates BBQ: ', 'http://www.gatesbbq.com/GeneralInformation/Location.aspx'
    12th & Brooklyn

  %li
    =link_to 'Winslows BBQ: ', 'http://winslowsbbq.com/'
    20 E 5th St Kansas City, MO 64106 (Closes at 8PM.)

  %li
    =link_to 'Slaps BBQ: ', 'http://www.slapsbbqkc.com/'
    553 Central Ave, Kansas City KS, 66101 (Open until they sell out.)

%h1#may_6 Friday May 6th Events

- data.events.select {|event| event.date == 'May 6'}.each do |event|
  = partial :event, :locals => {event: event}

%h1 Saturday May 7th Events

- data.events.select {|event| event.date == 'May 7'}.each do |event|
  = partial :event, :locals => {event: event}

%h1#other_attractions Other attractions
- data.events.select {|event| event.date == 'Any'}.each do |event|
  = partial :event, :locals => {event: event}



%h1 Archive


%h1 Monday, May 2nd Events

- data.events.select {|event| event.date == 'May 2'}.each do |event|
  = partial :event, :locals => {event: event}

%h1 Tuesday May 3rd Events

- data.events.select {|event| event.date == 'May 3'}.each do |event|
  = partial :event, :locals => {event: event}

%h1#may_4 Wednesday May 4th Events

- data.events.select {|event| event.date == 'May 4'}.each do |event|
  = partial :event, :locals => {event: event}

%h1#may_5 Thursday May 5th Events

- data.events.select {|event| event.date == 'May 5'}.each do |event|
  = partial :event, :locals => {event: event}

/ %h1 debug
/ = data.events